extends ../layouts/core

block append data
  -
    const project = {
      title: "WOOMA",
      dir: " ",
      validate: true,
    }

    page.name = "index";
    page.title = project.title;

    function getCurrentTime() {
      const now = new Date();
      const year = now.getFullYear();
      const month = String(now.getMonth() + 1).padStart(2, '0');
      const day = String(now.getDate()).padStart(2, '0');
      const hours = String(now.getHours()).padStart(2, '0');
      const minutes = String(now.getMinutes()).padStart(2, '0');
      return `${year}-${month}-${day} ${hours}:${minutes}`;
    }

block page
  main(style="background-color: #f2f5fc;").page__main
    .content-wrapper
      .content-container
        article.demo
          header.demo__header
            h1.demo__title Фронтенд проекта "#{project.title}"
            p(style="font-size: .8em; margin: 0 0 .5em;") Время последней сборки: #{getCurrentTime()}
          .demo__row
            .demo__col
              h2.demo__title-2 Интернет-магазин
              .demo__block
                +demo__item(file="home.html" title="Главная" ready="true")
                +demo__item(file="catalog.html" title="Каталог" ready="true")
                +demo__item(file="callback.html" title="Обратная связь" ready="false")
                +demo__item(file="error-404.html" title="Страница ошибка-404" ready="true")
                +demo__item(file="contacts.html" title="Контакты" ready="true")
                +demo__item(file="about.html" title="О нас" ready="true")
                +demo__item(file="faq.html" title="FAQ" ready="false")
                +demo__item(file="blog.html" title="Блог" ready="false")
                +demo__item(file="product.html" title="Полное отображение товара" ready="false")
                +demo__item(file="cart.html" title="Корзина" ready="false")
                +demo__item(file="checkout.html" title="Заказ" ready="false")

              h2.demo__title-2 Разное
              .demo__block
                +demo__item(file="text.html" title="Текстовая страница" ready="true")
                +demo__item(file="ui-kit.html" title="UI-Kit" ready="true")

mixin demo__item()
  -
    const params = { ...attributes };

    delete attributes.file;
    delete attributes.title;
    delete attributes.ready;
    delete attributes.validate;

    params.ready = params.ready || "true";
    params.validate = params.validate !== "false";

  p.demo__item(class=(params.ready != "true") && "demo__item--in-progress")&attributes(attributes)
    if (project.validate && params.validate)
      | [
      a(href="https://validator.w3.org/nu/?doc=" + project.dir + params.file target="_blank") v
      | ] 
      | 
    a(href=params.file target="_blank")!= params.title
