include ./ui

include ../button/button
include ../form/form
include ../field/field
//- include ../inputbox/inputbox
include ../input/input
include ../textarea/textarea
include ../select/select
include ../checkbox/checkbox
include ../radio/radio
include ../switch/switch
include ../file-input/file-input--img
include ../file-input/file-input--profile-photo
include ../file-input/file-input--profile-photo-small
include ../file-input/file-input--img-block
include ../file-input/file-input--img-free
include ../stars-field/stars-field
include ../datepicker/datepicker
//- include ../number/number

mixin ui--fields()
  -
    data.optionsCities = [
      { value: "moscow", text: "Москва" },
      { value: "piter", text: "Санкт-Петербург" },
      { value: "novosibirsk", text: "Новосибирск" },
      { value: "omsk", text: "Омск" },
      { value: "kazan", text: "Казань" },
      { value: "stavropol", text: "Ставрополь" },
      { value: "ekaterinburg", text: "Екатеринбург" },
      { value: "voronezh", text: "Воронеж" },
      { value: "rostov-na-donu", text: "Ростов-на-Дону" },
      { value: "petropavlovsk-kamchatskiy", text: "Петропавловск-Камчатский" },
      { value: "vladivostok", text: "Владивосток" },
      { value: "krasnoyarsk", text: "Красноярск" },
      { value: "kursk", text: "Курск" },
      { value: "smolensk", text: "Смоленск" },
      { value: "vladimir", text: "Владимир" },
      { value: "volgograd", text: "Волгоград" },
    ];

  +ui__section(title="Поля форм")#fields
    +form(data-validate="true" method="GET")
      +ui__subsection(title="input")#input
        .ui__box
          +ui__sequence()
            +field(for="fields-name" label="Полное имя" hint="Фамилия Имя Отчество" required)
              +field__control()
                +input(type="text" name="name" id="fields-name" placeholder="Имя Фамилия" maxlength="30" required)

            +field(for="fields-phone" label="Телефон" hint="Телефон" required)
              +field__control()
                +input(type="tel" name="phone" id="fields-phone" placeholder="+7 (123) 456-78-90" data-mask="+7 (999) 999-99-99" required)

            +field(for="fields-email" label="Email" hint="Электронная почта" required)
              +field__control()
                +input(type="email" name="email" id="fields-email" placeholder="login@domain.ru")

            +field(for="fields-password" label="Пароль" hint!="Пароль с&nbsp;перключателем видимости" required)
              +field__control()
                +input(type="password" name="password" id="fields-password" placeholder="Пароль" required)

      +ui__subsection(title="textarea")#textarea
        .ui__box
          +ui__sequence(mod="3")
            +field(for="fields-message" label="Сообщение" hint!="Текст с&nbsp;подсказкой" required)
              +field__control()
                +textarea(name="message" id="fields-message" placeholder="Текст с подсказкой..." required)
            +field(for="fields-message-2" label="Сообщение" required hint!="С&nbsp;ограничением по&nbsp;количеству символов")
              +field__control()
                +textarea(name="message" id="fields-message-2" placeholder="Текст с подсказкой..." required maxlength="200")
            +field(for="fields-message-3" label="Disabled" hint!="Текст с&nbsp;подсказкой")
              +field__control()
                +textarea(name="message" id="fields-message-3" placeholder="Текст с подсказкой..." disabled)
      
      +ui__subsection(title="Дата/Время")#datetime
        h4 DateTimePicker
        .ui__box()
          +ui__sequence(mod="3")
            +field(label="Дата" for="fields-date-1" hint="Дата" required)
              +field__control()
                +datepicker()
                  +datepicker__input(name="date" id="fields-date-1" placeholder="ДД.ММ.ГГГГ" required)
            +field(label="Дата с ограничениями" for="fields-date-2" hint="MinDate: 2023-09-05 MaxDate: 2023-09-25" required)
              +field__control()
                +datepicker()
                  +datepicker__input(name="date2" id="fields-date-2" placeholder="ДД.ММ.ГГГГ" data-min-date="2023-09-05" data-max-date="2023-09-25" required)
            +field(label="Дата рождения" for="fields-birthdate" hint="MaxDate: today" required)
              +field__control()
                +datepicker({ controlAttributes: { name: "birthdate1", id: "fields-birthdate", placeholder: "ДД.ММ.ГГГГ", "data-max-date": "today", required: true} })

        h4 Время через маску ввода
        .ui__box
          +ui__sequence(mod="2")
            +field(label="Время" for="fields-time-1" hint="Только часы и минуты" required)
              +field__control()
                +input(name="time-1" id="fields-time-1" data-mask="time" placeholder="ЧЧ:ММ" required)
            +field(label="Время" for="fields-time-2" hint="Часы, минуты и секунды" required)
              +field__control()
                +input(name="time-2" id="fields-time-2" data-mask="times" placeholder="ЧЧ:ММ:СС" required)

      +ui__subsection(title="Валидация некоторых типов полей")#misc-validation
        .ui__box
          +ui__sequence(mod="2")
            +field(label="URL" for="fields-url" hint="Валидация URL" required)
              +field__control()
                +input(type="url" name="url" id="fields-url" placeholder="https://example.com")
            +field(label="UUID" for="fields-uuid" hint="Пример валидного uuid: C73BCDCC-2669-4Bf6-81d3-E4AE73FB11FD" required)
              // Источник pattern(regexp) для uuid: https://ihateregex.io/expr/uuid/
              // ^[0-9a-fA-F]{8}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{12}$
              // Пример валидного uuid: C73BCDCC-2669-4Bf6-81d3-E4AE73FB11FD
              +field__control()
                +input(type="text" name="uuid" id="fields-uuid" pattern="\^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}$")
        
    +ui__subsection(title="custom-select")#custom-select
      .ui__box
        +ui__sequence()
          +field(label="Город" for="fields-cities-21" required hint="Селект с плейсхолдером, когда нет выбранных пунктов")
            +select(name="cities" id="fields-cities-21" placeholder="Выберите город" options=data.optionsCities data-custom-select)
          
          +field(label="Город" for="fields-cities-22" required hint="Селект без плейсхолдера, автовыбран первый элемент")
            +select(name="cities" id="fields-cities-22" options=data.optionsCities data-custom-select)
          
          +field(label="Город" for="fields-cities-23" required hint="Селект с выбранным пунктом, префикс")
            +select(name="cities" id="fields-cities-23" placeholder="Выберите город" options=data.optionsCities selected="vladivostok" data-custom-select="true" data-custom-select-prefix="Город:")
          
          +field(label="Город" for="fields-cities-24" required hint="Селект с поиском")
            +select(name="cities" id="fields-cities-24" placeholder="Выберите город" options=data.optionsCities selected="vladivostok" data-custom-select="true" data-custom-select-search="true" data-custom-select-search-placeholder="Поиск по городам...")
    
    +ui__subsection(title="radio")#radio
      .ui__box
        +ui__sequence(mod="3")
          +field()
            +radio(for="radio-1" label='Надпись короткая')
              +radio__input(name="radio-group" id="radio-1" value="1" checked)
          +field()
            +radio(for="radio-2" label='Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, iste quo explicabo')
              +radio__input(name="radio-group" id="radio-2" value="2")
          +field()
            +radio(for="radio-3" label='Disabled unchecked')
              +radio__input(name="radio-disabled-group" id="radio-3" value="3" disabled)

    +ui__subsection(title="checkbox")#checkbox
      .ui__box
        +ui__sequence()
          +field()
            +checkbox(for="checkbox-1" label="Надпись короткая")
              +checkbox__input(name="checkbox[]" id="checkbox-1" value="1" checked)
          +field()
            +checkbox(for="checkbox-2" label="Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, iste quo explicabo")
              +checkbox__input(name="checkbox[]" id="checkbox-2" value="2")
          +field()
            +checkbox(for="checkbox-3" label="Disabled unchecked")
              +checkbox__input(name="checkbox-disabled[]" id="checkbox-3" value="1" disabled)
          +field()
            +checkbox(for="checkbox-4" label="Disabled checked")
              +checkbox__input(name="checkbox-disabled[]" id="checkbox-4" value="2" checked disabled)

    +ui__subsection(title="switch")#switch
      h4 Без текста
      .ui__box()
        +ui__sequence()
          +switch()
            +switch__input(name="switch[]" value="1")
          +switch()
            +switch__input(name="switch[]" value="2" checked)
          +switch()
            +switch__input(name="switch[]" value="3" disabled)
          +switch()
            +switch__input(name="switch[]" value="4" disabled checked)
      h4 С текстом
      .ui__box
        +ui__sequence()
          +switch(label="Краткая подпись")
            +switch__input(name="switch2[]" value="1")
          +switch(label="Длинная подпись lorem ipsum dolor sit amet consectetur adipisicing elit. Animi accusamus itaque fugit possimus!")
            +switch__input(name="switch2[]" value="2" checked)
          +switch(label="disabled")
            +switch__input(name="switch2[]" value="3" disabled)
          +switch(label="disabled checked")
            +switch__input(name="switch2[]" value="4" disabled checked)

    +ui__subsection(title="file-input")#file-input
      .ui__box()
        +ui__sequence(mod="2")
          - const file = { src: 'https://upload.wikimedia.org/wikipedia/commons/2/29/Coat_of_Arms_of_the_Russian_Federation_2.svg' };
          +file-input--img-block(heading="Обложка" text!="Добавьте фоновое изображение в размере 16:9, объемом до 2 mb, в формате jpg, jpeg, png")
            +file-input__input(name="cover" id="form-profile-university-cover" accept=".jpg,.jpeg,.png" data-max-file-size="2097152")
          +file-input--img-block(heading="Логотип" text!="Добавьте ваш логотип объемом до&nbsp;2&nbsp;mb в&nbsp;форматах svg, png" file=file)
            +file-input__input(name="logo" id="form-profile-university-logo" accept=".svg,.png" data-max-file-size="2097152")
      
      .ui__box()
        +ui__sequence(mod="2")
          +field(for="fields-photo-1" label!="Вставьте фото в&nbsp;размере 4:3, в&nbsp;формате jpg, jpeg, png")
            +field__control()
              +file-input--img()
                +file-input__input(id="fields-photo-1" name="photo-1" accept=".jpg,.jpeg,.png" data-max-file-size="2097152")
          
          +field(for="fields-photo-2" label!="Предзаданный файл")
            +field__control()
              - const file = { name: 'Обложка.png', size: '2.46 mb', src: 'https://placehold.co/600x400' };
              +file-input--img(file=file)
                +file-input__input(id="fields-photo-2" name="photo-2" accept=".jpg,.jpeg,.png" data-max-file-size="2097152")
      .ui__box()
        -
          const file = {
            name: 'Обложка.png',
            size: '2.46 mb',
            src: 'assets/img/news/news-01.jpg',
          };

        +ui__sequence(mod="2")
          //- +field(for="form-add-news-cover" label!="Добавьте фоновое изображение в размере 16:9, объемом до 2 mb, в формате jpg, jpeg, png")
          //-   +field__control()
          //-     +file-input--img-free()
          //-       +file-input__input(id="form-add-news-cover" name="cover" accept=".jpg,.jpeg,.png" data-max-file-size="2097152")
          +field(for="form-add-news-cover" label!="Добавьте фоновое изображение в размере 16:9, объемом до 2 mb, в формате jpg, jpeg, png")
            +field__control()
              +file-input--img-free(file=file)
                +file-input__input(id="form-add-news-cover" name="cover" accept=".jpg,.jpeg,.png" data-max-file-size="2097152")
      
      .ui__box()
        +ui__sequence(mod="2")
          - const file = { src: 'https://upload.wikimedia.org/wikipedia/commons/0/0c/Khazin_MSU.jpg' };
          +file-input--profile-photo(label="Фото ректора")
            +file-input__input(id="form-profile-rector-photo-1" name="rector-photo-1" accept=".jpg,.jpeg,.png" data-max-file-size="2097152")
          +file-input--profile-photo(label="Фото ректора" file=file)
            +file-input__input(id="form-profile-rector-photo-2" name="rector-photo-2" accept=".jpg,.jpeg,.png" data-max-file-size="2097152")
      
      .ui__box
        +ui__sequence(mod="free")
          - const file = { src: 'https://upload.wikimedia.org/wikipedia/commons/0/0c/Khazin_MSU.jpg' };
          +file-input--profile-photo-small()
            +file-input__input(id="form-profile-small-photo-1" name="small-photo-1" accept=".jpg,.jpeg,.png,.svg" data-max-file-size="2097152")
          +file-input--profile-photo-small(file=file)
            +file-input__input(id="form-profile-small-photo-2" name="small-photo-2" accept=".jpg,.jpeg,.png,.svg" data-max-file-size="2097152")
    
    +ui__subsection(title="stars-field")#stars-field
      .ui__box
        +ui__sequence(mod="4")
          +field(label="Поставьте оценку")
            +stars-field()
              +stars-field__input(name="rating")
          +field(label="Поставьте оценку")
            +stars-field()
              +stars-field__input(name="rating" value="1")
          +field(label="Поставьте оценку")
            +stars-field()
              +stars-field__input(name="rating" value="4")
          +field(label="Поставьте оценку")
            +stars-field()
              +stars-field__input(name="rating" value="5")
